*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.nav_links_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}